* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  width: 100%;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header img {
  height: 50px;
  width: auto;
}

nav a {
  margin: 0 15px;
}

nav a, nav a:active, nav a:visited {
  color: white;
}

#mission {
  display: flex;
  align-items: center;

  margin: 69px auto 0 auto;
  height: 700px;
  width: 100%;
  max-width: 1200px;


  background-image: url("../img/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
}

.banner-overlay {
  width: 100%;
  padding: 10px 0;
  background-color: black;

  line-height: 1.5;
}

#tea {
  width: 100%;
  max-width: 1000px;
  margin: 70px auto;

  line-height: 2.3;
}

.gallery {
  display: inline-flex;
  width: 100%;

  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.4;
}

.gallery-content {
  width: 300px;
  margin: 20px 15px;
}

.gallery-content img {
  width: 100%;
}

#locations {
  width: 100%;
  max-width: 1200px;
  min-height: 500px;
  margin: 0 auto;
  padding: 40px;

  background-image: url("../img/img-locations-background.jpg");
  background-size: cover;
  background-position: center;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-gallery {
  width: 100%;

  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.location {
  width: 300px;
  background-color: black;

  padding: 5px;

  line-height: 3;
}

#contact {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  padding: 40px 20px;
  float: left;
}

@media only screen and (max-width: 960px) {
    .location-gallery {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .location {
      margin: 20px 0;
      width: 500px;
    }

    #contact {
      line-height: 2.5;
      margin: 60px 0 80px 0;
    }

    #contact h2 {
      font-size: 4rem;
    }

    #contact h4 {
      font-size: 2rem;
    }

    footer {

    }
}
